*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  /* width: 100%; */
  vertical-align: middle;
}

address,
i,
em {
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

/* gpt */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
}

.blind {
  position: absolute;
  top: -9999px;
}

/* iframe  */
iframe {
  border: 0;
}

/* skip */
.skip-nav {
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 99999;
  width: 100%;
  background: #111;
  color: #fff;
  text-align: center;
}

.skip-nav a {
  display: block;
  padding: 14px 20px;
}

.skip-nav:focus-within {
  top: 0;
}